.login_input{
    background: transparent;
    outline: none;
    color: black;
    border-width: 1px;
    border-color: darkgray;
    height: 2.25rem;
    border-radius: 5px;
    padding-left: 10px;
}

.login_input:focus{
    outline: none;
}

